.card,
.btn {
  border-radius: 0;
}

.card {
  border: none;
  box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
}

.photo-card {
  min-height: 350px;
}

.my-basic-card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-indigo {
  background-color: #7d3c98;
}

.bg-blue {
  background-color: #21618c;
}

.btn-circle {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
